/* .progtrckr + .carry-row{
    width: 50%;
    margin: 0 auto;
} */

.carry-row-three {
    width: 50%;
    margin: 0 auto;
    height: 23rem;
}

.carry-row-three .nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.carry-row-three .nav>li {
    width: 50%;
    background-color: #FFFF;
    border-radius: .5rem .5rem 0 0;
    border: none;
}

.carry-row-three .nav>li, .carry-row-three .nav>li>a {
    position: relative;
    display: block
}

.carry-row-three .nav>li>a {
    padding: 0.5rem 1rem;
    color: black;
}

.carry-row-three .nav>li>a:focus, .carry-row-three .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

.carry-row-three .nav>li.disabled>a {
    color: #777
}

.carry-row-three .nav>li.disabled>a:focus, .carry-row-three .nav>li.disabled>a:hover {
    color: #777;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed
}

.carry-row-three .nav>li>a>img {
    max-width: none
}

.carry-row-three .nav-tabs {
    /* border-bottom: 1px solid #ddd */
    border-bottom: .08rem solid #000 !important;
}

.carry-row-three .nav-tabs>li {
    float: left;
    margin-bottom: 0rem;
}

.carry-row-three .nav-tabs>li>a {
    margin-right: 0rem;
    line-height: 1.42857143;
    border: .12rem solid transparent;
    border-radius: .5rem .5rem 0 0
}

.carry-row-three .nav-tabs>li.active>a, .carry-row-three .nav-tabs>li.active>a:focus, .carry-row-three .nav-tabs>li.active>a:hover {
    /* color: #555; */
    color: #FFFF;
    background-color: #000000;
    /* background-color: #fff; 
    border: 1px solid #ddd;*/
    border-bottom-color: transparent;
    cursor: default
}

.carry-row-three .nav-tabs>li>a:hover {
    /* border-color: #eee #eee #ddd */
    border-color: #FFF #FFFF #FFFF;
}

.fade.in {
    opacity: 1
}

/*
    styles for images
*/
.lblRegister{
    margin: 1.5rem auto;
    width: 100%;
    text-align: center!important;
}
.containerSocial{
    width: 50%;
    margin: 0 auto;
    height: 23rem;
}
.listSocial{
    list-style: none;
    padding-left: 0;
}
#faceb {
    background: url("../Img/social.png") -2.2rem -1.9rem;
    width: 8.1rem;
    height: 8rem;
    background-repeat: no-repeat;
    transform: scale(.5,.5);
    display: inline-block;
}
#twit {
    background: url("../Img/social.png") -27.2rem -1.9rem;
    width: 8.1rem;
    height: 8rem;
    background-repeat: no-repeat;
    transform: scale(.5,.5);
    display: inline-block;
}
#gmail {
    background: url("../Img/social.png") -2.2rem -13.5rem;
    width: 8.3rem;
    height: 8.3rem;
    background-repeat: no-repeat;
    transform: scale(.5,.5);
    display: inline-block;
}